.mobileDrop__wrapper {
  .mobileNav__btn {
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
  }
}

.test {
  background-color: var(--bg-overlay);
  position: absolute;
  height: calc(100vh - 6.0625rem);
  width: 100vw;
  top: 6rem;
  left: 0;
  padding: 1rem 5rem;

  .nav__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 264px;
    padding: 2rem 0rem;
    border-radius: 8px;
    background-color: var(--bg-surface);
  }
}
