.app-layout {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 6.0625rem 1fr;
  height: 100vh;
}

.content {
  width: 100%;
  height: 100%;
  overflow-x: auto;  // horizontal scroll
  overflow-y: hidden;
}