@use "../../styles/mixins" as *;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-surface);
  grid-column: span 2;
  z-index: 2;

  .logo__container {
    width: 18rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1.5px solid var(--bg-surface-alt);
    padding: 0 2rem;
    border-bottom: 1.5px solid var(--bg-surface-alt);

    @media (max-width: 768px) {
      width: fit-content;
    }
  }
  .content__container {
    display: flex;
    padding: 0 2rem;
    height: 100%;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1.5px solid var(--bg-surface-alt);

    .content__heading {
      @include heading((xl), var(--text-heading));
    }
  }

  .options__container {
    position: relative;

    .options__btn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 0.5rem;
    }
  }
}
